--
-- PostgreSQL database dump
--

\restrict 1suOTYVeciCnFBek80OGTNLpqJzQ7tEIeK4z6oY4ZK5sJWvoYKRoewmdBHdPpF2

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: event_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.event_type AS ENUM (
    'goal',
    'own_goal',
    'yellow_card',
    'red_card',
    'yellow_red_card',
    'sub_on',
    'sub_off',
    'penalty_scored',
    'penalty_missed'
);


--
-- Name: format_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.format_type AS ENUM (
    'league',
    'groups_knockout',
    'knockout'
);


--
-- Name: match_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.match_status AS ENUM (
    'scheduled',
    'live',
    'completed',
    'postponed',
    'cancelled'
);


--
-- Name: player_position; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.player_position AS ENUM (
    'goalkeeper',
    'defender',
    'midfielder',
    'forward'
);


--
-- Name: structure_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.structure_type AS ENUM (
    'national',
    'province',
    'region',
    'lfa',
    'stream'
);


--
-- Name: transfer_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.transfer_type AS ENUM (
    'new_registration',
    'transfer',
    'loan',
    'return_from_loan'
);


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'organiser'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: club_player_memberships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.club_player_memberships (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    player_id uuid NOT NULL,
    club_id uuid NOT NULL,
    start_date date NOT NULL,
    end_date date,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    source_transfer_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: clubs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clubs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    short_name character varying(100),
    home_venue_id uuid,
    home_structure_id uuid,
    logo_url character varying(500),
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: competitions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.competitions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    competition_type character varying(100),
    scope_level character varying(100),
    host_structure_id uuid,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: divisions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.divisions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    season_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    age_group character varying(100),
    gender character varying(50),
    format_type public.format_type DEFAULT 'league'::public.format_type NOT NULL,
    min_birthdate date,
    max_birthdate date,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: football_structures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.football_structures (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    structure_code character varying(50) NOT NULL,
    parent_id uuid,
    name character varying(255) NOT NULL,
    short_name character varying(50),
    structure_type public.structure_type NOT NULL,
    organization_id uuid,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: group_teams; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_teams (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    group_id uuid NOT NULL,
    team_id uuid NOT NULL
);


--
-- Name: groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.groups (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    division_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: match_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.match_events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    match_id uuid NOT NULL,
    team_id uuid NOT NULL,
    player_id uuid,
    related_player_id uuid,
    registration_id uuid,
    minute integer,
    extra_minute integer,
    event_type public.event_type NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: match_lineups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.match_lineups (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    match_id uuid NOT NULL,
    team_id uuid NOT NULL,
    player_id uuid NOT NULL,
    registration_id uuid,
    is_starting boolean DEFAULT true NOT NULL,
    bench_order integer,
    shirt_number integer,
    position_code character varying(20),
    is_captain boolean DEFAULT false NOT NULL,
    minute_on integer,
    minute_off integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: matches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.matches (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    division_id uuid NOT NULL,
    group_id uuid,
    home_team_id uuid NOT NULL,
    away_team_id uuid NOT NULL,
    venue_id uuid,
    round_no integer,
    matchday integer,
    kickoff_at timestamp with time zone,
    status public.match_status DEFAULT 'scheduled'::public.match_status NOT NULL,
    home_score integer DEFAULT 0,
    away_score integer DEFAULT 0,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT ck_match_different_teams CHECK ((home_team_id <> away_team_id))
);


--
-- Name: media_posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.media_posts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    title character varying(255),
    body text,
    media_url character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: memberships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.memberships (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    organization_id uuid NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.organizations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    short_name character varying(100),
    organization_type character varying(100),
    parent_organization_id uuid,
    owner_user_id uuid,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: player_registrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.player_registrations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    player_id uuid NOT NULL,
    team_id uuid NOT NULL,
    membership_id uuid,
    registration_type character varying(100),
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    registered_on date,
    deregistered_on date,
    squad_number integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: players; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.players (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    date_of_birth date,
    gender character varying(50),
    nationality character varying(100),
    id_number character varying(100),
    primary_position public.player_position,
    secondary_position public.player_position,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: seasons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.seasons (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    competition_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    start_date date,
    end_date date,
    status character varying(50) DEFAULT 'upcoming'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: teams; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.teams (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    club_id uuid NOT NULL,
    division_id uuid NOT NULL,
    display_name character varying(255) NOT NULL,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: transfers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.transfers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    player_id uuid NOT NULL,
    from_club_id uuid,
    to_club_id uuid NOT NULL,
    transfer_type public.transfer_type NOT NULL,
    effective_date date NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.user_role DEFAULT 'organiser'::public.user_role NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: venues; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.venues (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(255),
    address text,
    latitude double precision,
    longitude double precision,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: club_player_memberships club_player_memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.club_player_memberships
    ADD CONSTRAINT club_player_memberships_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_pkey PRIMARY KEY (id);


--
-- Name: competitions competitions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT competitions_pkey PRIMARY KEY (id);


--
-- Name: divisions divisions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_pkey PRIMARY KEY (id);


--
-- Name: football_structures football_structures_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.football_structures
    ADD CONSTRAINT football_structures_pkey PRIMARY KEY (id);


--
-- Name: football_structures football_structures_structure_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.football_structures
    ADD CONSTRAINT football_structures_structure_code_key UNIQUE (structure_code);


--
-- Name: group_teams group_teams_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_teams
    ADD CONSTRAINT group_teams_pkey PRIMARY KEY (id);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: match_events match_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_events
    ADD CONSTRAINT match_events_pkey PRIMARY KEY (id);


--
-- Name: match_lineups match_lineups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_lineups
    ADD CONSTRAINT match_lineups_pkey PRIMARY KEY (id);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (id);


--
-- Name: media_posts media_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_posts
    ADD CONSTRAINT media_posts_pkey PRIMARY KEY (id);


--
-- Name: memberships memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_pkey PRIMARY KEY (id);


--
-- Name: memberships memberships_user_org_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_user_org_unique UNIQUE (user_id, organization_id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: player_registrations player_registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_registrations
    ADD CONSTRAINT player_registrations_pkey PRIMARY KEY (id);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (id);


--
-- Name: seasons seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_pkey PRIMARY KEY (id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: transfers transfers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transfers
    ADD CONSTRAINT transfers_pkey PRIMARY KEY (id);


--
-- Name: group_teams uq_group_team; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_teams
    ADD CONSTRAINT uq_group_team UNIQUE (group_id, team_id);


--
-- Name: match_lineups uq_lineup_match_team_player; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_lineups
    ADD CONSTRAINT uq_lineup_match_team_player UNIQUE (match_id, team_id, player_id);


--
-- Name: club_player_memberships uq_membership_player_club_start; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.club_player_memberships
    ADD CONSTRAINT uq_membership_player_club_start UNIQUE (player_id, club_id, start_date);


--
-- Name: player_registrations uq_registration_player_team; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_registrations
    ADD CONSTRAINT uq_registration_player_team UNIQUE (player_id, team_id);


--
-- Name: teams uq_team_club_division; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT uq_team_club_division UNIQUE (club_id, division_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: venues venues_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.venues
    ADD CONSTRAINT venues_pkey PRIMARY KEY (id);


--
-- Name: idx_clubs_organization_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_clubs_organization_id ON public.clubs USING btree (organization_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_clubs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_clubs_status ON public.clubs USING btree (status) WHERE (deleted_at IS NULL);


--
-- Name: idx_competitions_organization_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_competitions_organization_id ON public.competitions USING btree (organization_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_divisions_season_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_divisions_season_id ON public.divisions USING btree (season_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_divisions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_divisions_status ON public.divisions USING btree (status) WHERE (deleted_at IS NULL);


--
-- Name: idx_events_event_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_events_event_type ON public.match_events USING btree (event_type);


--
-- Name: idx_events_match_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_events_match_id ON public.match_events USING btree (match_id);


--
-- Name: idx_events_player_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_events_player_id ON public.match_events USING btree (player_id);


--
-- Name: idx_events_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_events_team_id ON public.match_events USING btree (team_id);


--
-- Name: idx_football_structures_parent_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_football_structures_parent_id ON public.football_structures USING btree (parent_id);


--
-- Name: idx_football_structures_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_football_structures_status ON public.football_structures USING btree (status);


--
-- Name: idx_football_structures_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_football_structures_type ON public.football_structures USING btree (structure_type);


--
-- Name: idx_group_teams_group_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_group_teams_group_id ON public.group_teams USING btree (group_id);


--
-- Name: idx_group_teams_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_group_teams_team_id ON public.group_teams USING btree (team_id);


--
-- Name: idx_groups_division_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_groups_division_id ON public.groups USING btree (division_id);


--
-- Name: idx_lineups_match_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lineups_match_id ON public.match_lineups USING btree (match_id);


--
-- Name: idx_lineups_player_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lineups_player_id ON public.match_lineups USING btree (player_id);


--
-- Name: idx_lineups_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lineups_team_id ON public.match_lineups USING btree (team_id);


--
-- Name: idx_matches_away_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_matches_away_team_id ON public.matches USING btree (away_team_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_matches_division_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_matches_division_id ON public.matches USING btree (division_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_matches_group_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_matches_group_id ON public.matches USING btree (group_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_matches_home_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_matches_home_team_id ON public.matches USING btree (home_team_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_matches_kickoff_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_matches_kickoff_at ON public.matches USING btree (kickoff_at) WHERE (deleted_at IS NULL);


--
-- Name: idx_matches_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_matches_status ON public.matches USING btree (status) WHERE (deleted_at IS NULL);


--
-- Name: idx_media_posts_organization_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_media_posts_organization_id ON public.media_posts USING btree (organization_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_memberships_club_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_club_id ON public.club_player_memberships USING btree (club_id);


--
-- Name: idx_memberships_org_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_org_id ON public.memberships USING btree (organization_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_memberships_player_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_player_id ON public.club_player_memberships USING btree (player_id);


--
-- Name: idx_memberships_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_status ON public.club_player_memberships USING btree (status);


--
-- Name: idx_memberships_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_user_id ON public.memberships USING btree (user_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_organizations_owner; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_organizations_owner ON public.organizations USING btree (owner_user_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_organizations_parent; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_organizations_parent ON public.organizations USING btree (parent_organization_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_organizations_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_organizations_status ON public.organizations USING btree (status) WHERE (deleted_at IS NULL);


--
-- Name: idx_players_last_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_players_last_name ON public.players USING btree (last_name) WHERE (deleted_at IS NULL);


--
-- Name: idx_players_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_players_status ON public.players USING btree (status) WHERE (deleted_at IS NULL);


--
-- Name: idx_registrations_player_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_registrations_player_id ON public.player_registrations USING btree (player_id);


--
-- Name: idx_registrations_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_registrations_status ON public.player_registrations USING btree (status);


--
-- Name: idx_registrations_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_registrations_team_id ON public.player_registrations USING btree (team_id);


--
-- Name: idx_seasons_competition_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_seasons_competition_id ON public.seasons USING btree (competition_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_seasons_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_seasons_status ON public.seasons USING btree (status) WHERE (deleted_at IS NULL);


--
-- Name: idx_teams_club_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_teams_club_id ON public.teams USING btree (club_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_teams_division_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_teams_division_id ON public.teams USING btree (division_id) WHERE (deleted_at IS NULL);


--
-- Name: idx_teams_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_teams_status ON public.teams USING btree (status) WHERE (deleted_at IS NULL);


--
-- Name: idx_transfers_effective_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_transfers_effective_date ON public.transfers USING btree (effective_date);


--
-- Name: idx_transfers_player_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_transfers_player_id ON public.transfers USING btree (player_id);


--
-- Name: idx_transfers_to_club_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_transfers_to_club_id ON public.transfers USING btree (to_club_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email ON public.users USING btree (email) WHERE (deleted_at IS NULL);


--
-- Name: idx_venues_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_venues_status ON public.venues USING btree (status) WHERE (deleted_at IS NULL);


--
-- Name: club_player_memberships club_player_memberships_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.club_player_memberships
    ADD CONSTRAINT club_player_memberships_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id) ON DELETE CASCADE;


--
-- Name: club_player_memberships club_player_memberships_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.club_player_memberships
    ADD CONSTRAINT club_player_memberships_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id) ON DELETE CASCADE;


--
-- Name: club_player_memberships club_player_memberships_source_transfer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.club_player_memberships
    ADD CONSTRAINT club_player_memberships_source_transfer_id_fkey FOREIGN KEY (source_transfer_id) REFERENCES public.transfers(id) ON DELETE SET NULL;


--
-- Name: clubs clubs_home_structure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_home_structure_id_fkey FOREIGN KEY (home_structure_id) REFERENCES public.football_structures(id) ON DELETE SET NULL;


--
-- Name: clubs clubs_home_venue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_home_venue_id_fkey FOREIGN KEY (home_venue_id) REFERENCES public.venues(id) ON DELETE SET NULL;


--
-- Name: clubs clubs_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: competitions competitions_host_structure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT competitions_host_structure_id_fkey FOREIGN KEY (host_structure_id) REFERENCES public.football_structures(id) ON DELETE SET NULL;


--
-- Name: competitions competitions_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT competitions_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: divisions divisions_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id) ON DELETE CASCADE;


--
-- Name: football_structures football_structures_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.football_structures
    ADD CONSTRAINT football_structures_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: football_structures football_structures_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.football_structures
    ADD CONSTRAINT football_structures_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.football_structures(id);


--
-- Name: group_teams group_teams_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_teams
    ADD CONSTRAINT group_teams_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: group_teams group_teams_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_teams
    ADD CONSTRAINT group_teams_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: groups groups_division_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_division_id_fkey FOREIGN KEY (division_id) REFERENCES public.divisions(id) ON DELETE CASCADE;


--
-- Name: match_events match_events_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_events
    ADD CONSTRAINT match_events_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(id) ON DELETE CASCADE;


--
-- Name: match_events match_events_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_events
    ADD CONSTRAINT match_events_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id) ON DELETE SET NULL;


--
-- Name: match_events match_events_registration_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_events
    ADD CONSTRAINT match_events_registration_id_fkey FOREIGN KEY (registration_id) REFERENCES public.player_registrations(id) ON DELETE SET NULL;


--
-- Name: match_events match_events_related_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_events
    ADD CONSTRAINT match_events_related_player_id_fkey FOREIGN KEY (related_player_id) REFERENCES public.players(id) ON DELETE SET NULL;


--
-- Name: match_events match_events_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_events
    ADD CONSTRAINT match_events_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: match_lineups match_lineups_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_lineups
    ADD CONSTRAINT match_lineups_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(id) ON DELETE CASCADE;


--
-- Name: match_lineups match_lineups_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_lineups
    ADD CONSTRAINT match_lineups_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id) ON DELETE CASCADE;


--
-- Name: match_lineups match_lineups_registration_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_lineups
    ADD CONSTRAINT match_lineups_registration_id_fkey FOREIGN KEY (registration_id) REFERENCES public.player_registrations(id) ON DELETE SET NULL;


--
-- Name: match_lineups match_lineups_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_lineups
    ADD CONSTRAINT match_lineups_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: matches matches_away_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_away_team_id_fkey FOREIGN KEY (away_team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: matches matches_division_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_division_id_fkey FOREIGN KEY (division_id) REFERENCES public.divisions(id) ON DELETE CASCADE;


--
-- Name: matches matches_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE SET NULL;


--
-- Name: matches matches_home_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_home_team_id_fkey FOREIGN KEY (home_team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: matches matches_venue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_venue_id_fkey FOREIGN KEY (venue_id) REFERENCES public.venues(id) ON DELETE SET NULL;


--
-- Name: media_posts media_posts_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_posts
    ADD CONSTRAINT media_posts_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: memberships memberships_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: memberships memberships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.memberships
    ADD CONSTRAINT memberships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: organizations organizations_owner_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_owner_user_id_fkey FOREIGN KEY (owner_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: organizations organizations_parent_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_parent_organization_id_fkey FOREIGN KEY (parent_organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: player_registrations player_registrations_membership_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_registrations
    ADD CONSTRAINT player_registrations_membership_id_fkey FOREIGN KEY (membership_id) REFERENCES public.club_player_memberships(id) ON DELETE SET NULL;


--
-- Name: player_registrations player_registrations_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_registrations
    ADD CONSTRAINT player_registrations_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id) ON DELETE CASCADE;


--
-- Name: player_registrations player_registrations_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_registrations
    ADD CONSTRAINT player_registrations_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: seasons seasons_competition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_competition_id_fkey FOREIGN KEY (competition_id) REFERENCES public.competitions(id) ON DELETE CASCADE;


--
-- Name: teams teams_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_club_id_fkey FOREIGN KEY (club_id) REFERENCES public.clubs(id) ON DELETE CASCADE;


--
-- Name: teams teams_division_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_division_id_fkey FOREIGN KEY (division_id) REFERENCES public.divisions(id) ON DELETE CASCADE;


--
-- Name: transfers transfers_from_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transfers
    ADD CONSTRAINT transfers_from_club_id_fkey FOREIGN KEY (from_club_id) REFERENCES public.clubs(id) ON DELETE SET NULL;


--
-- Name: transfers transfers_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transfers
    ADD CONSTRAINT transfers_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id) ON DELETE CASCADE;


--
-- Name: transfers transfers_to_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transfers
    ADD CONSTRAINT transfers_to_club_id_fkey FOREIGN KEY (to_club_id) REFERENCES public.clubs(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 1suOTYVeciCnFBek80OGTNLpqJzQ7tEIeK4z6oY4ZK5sJWvoYKRoewmdBHdPpF2

